@using System.Collections
@model DashPanel.Models.ServiceRanking

@{
    ViewBag.Title = "RawInfo";
}

<h2>RawInfo</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div ng-app="myApp" ng-controller="cntrl">

<div class="form-horizontal">
    <h4>ServiceRanking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ServiceName, new SelectList((IEnumerable)ViewData["ServiceName"], "servicename", "servicename"), "Select Service", new { @class = "form-control", ng_model = "ServiceName" })
            @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" ng-click="sub()" />
        </div>
    </div>
</div>
<div ng-show="ss">
    <div class="text-center">
                
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" style="font-size: 98px"></i>
    </div>
</div>

    <div ng-show="All">
        <div id="robi">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="text-center" style="background-color: black; color: white">Robi</h2>

                </div>
                <div class="row">

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <br />
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="robichart">


                            </div>


                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                            <br />
                            <br />
                            <br />
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                                <table class="table table-bordered">

                                    <thead>
                                        <tr>
                                            <th scope="col">XXX</th>
                                            <th scope="col">XXX</th>
                                        </tr>
                                    </thead>

                                    <tbody ng-repeat="x in robiAc | limitTo: -1">
                                        <tr>
                                            <td>Ans/Day</td>
                                            <td>{{x.AD}}</td>
                                        </tr>
                                        <tr>
                                            <td>Acs/Day</td>
                                            <td>{{x.AC}}</td>
                                        </tr>

                                        <tr>
                                            <td>AS/D Acquired</td>
                                            <td>{{x.AF}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <br />
                    <table class="table table-bordered">

                        <thead>
                            <tr>
                                <th scope="col">Date Range</th>
                                <th scope="col">Starting Base</th>
                                <th scope="col">New Subscriber</th>
                                <th scope="col">Churn</th>
                                <th scope="col">Closing Base</th>
                                <th scope="col">Growth Rate</th>
                                <th scope="col">Churn Rate</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="x in robiRaw">
                                <td>{{x.Date}} </td>
                                <td>{{x.StartingBase}}</td>
                                <td>{{x.NewSubscriber}}</td>
                                <td>{{x.Churn}}</td>
                                <td>{{x.ClosingBase}}</td>
                                <td>{{x.GrowthRate}}</td>
                                <td>{{x.ChurnRate}}</td>

                            </tr>
                        </tbody>
                    </table>


                </div>


            </div>

        </div>


        <div id="Airtel">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="text-center" style="background-color: black; color: white">Airtel</h2>

                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <br />
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th scope="col">Date Range</th>
                                    <th scope="col">Starting Base</th>
                                    <th scope="col">New Subscriber</th>
                                    <th scope="col">Churn</th>
                                    <th scope="col">Closing Base</th>
                                    <th scope="col">Growth Rate</th>
                                    <th scope="col">Churn Rate</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="x in airtelRaw">
                                    <td>{{x.Date}} </td>
                                    <td>{{x.StartingBase}}</td>
                                    <td>{{x.NewSubscriber}}</td>
                                    <td>{{x.Churn}}</td>
                                    <td>{{x.ClosingBase}}</td>
                                    <td>{{x.GrowthRate}}</td>
                                    <td>{{x.ChurnRate}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>


                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="airtelchart">


                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <br />
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th scope="col">XXX</th>
                                        <th scope="col">XXX</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="x in airtelAc | limitTo: -1">
                                    <tr>
                                        <td>Ans/Day</td>
                                        <td>{{x.AD}}</td>
                                    </tr>
                                    <tr>
                                        <td>Acs/Day</td>
                                        <td>{{x.AC}}</td>
                                    </tr>

                                    <tr>
                                        <td>AS/D Acquired</td>
                                        <td>{{x.AF}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div id="Banglalink">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="text-center" style="background-color: black; color: white">Banglalink</h2>

                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <br />
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th scope="col">Date Range</th>
                                    <th scope="col">Starting Base</th>
                                    <th scope="col">New Subscriber</th>
                                    <th scope="col">Churn</th>
                                    <th scope="col">Closing Base</th>
                                    <th scope="col">Growth Rate</th>
                                    <th scope="col">Churn Rate</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="x in blinkRaw">
                                    <td>{{x.Date}} </td>
                                    <td>{{x.StartingBase}}</td>
                                    <td>{{x.NewSubscriber}}</td>
                                    <td>{{x.Churn}}</td>
                                    <td>{{x.ClosingBase}}</td>
                                    <td>{{x.GrowthRate}}</td>
                                    <td>{{x.ChurnRate}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>


                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="blinkchart">


                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <br />
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th scope="col">XXX</th>
                                        <th scope="col">XXX</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="x in blinkAc | limitTo: -1">
                                    <tr>
                                        <td>Ans/Day</td>
                                        <td>{{x.AD}}</td>
                                    </tr>
                                    <tr>
                                        <td>Acs/Day</td>
                                        <td>{{x.AC}}</td>
                                    </tr>

                                    <tr>
                                        <td>AS/D Acquired</td>
                                        <td>{{x.AF}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>

                </div>

            </div>

        </div>

        <div id="Teletalk">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="text-center" style="background-color: black; color: white">Teletalk</h2>

                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <br />
                        <table class="table table-bordered">

                            <thead>
                                <tr>
                                    <th scope="col">Date Range</th>
                                    <th scope="col">Starting Base</th>
                                    <th scope="col">New Subscriber</th>
                                    <th scope="col">Churn</th>
                                    <th scope="col">Closing Base</th>
                                    <th scope="col">Growth Rate</th>
                                    <th scope="col">Churn Rate</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="x in ttRaw">
                                    <td>{{x.Date}} </td>
                                    <td>{{x.StartingBase}}</td>
                                    <td>{{x.NewSubscriber}}</td>
                                    <td>{{x.Churn}}</td>
                                    <td>{{x.ClosingBase}}</td>
                                    <td>{{x.GrowthRate}}</td>
                                    <td>{{x.ChurnRate}}</td>

                                </tr>
                            </tbody>
                        </table>


                    </div>


                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" id="ttchart">


                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <br />
                        <br />
                        <br />
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                            <table class="table table-bordered">

                                <thead>
                                    <tr>
                                        <th scope="col">XXX</th>
                                        <th scope="col">XXX</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="x in ttAc | limitTo: -1">
                                    <tr>
                                        <td>Ans/Day</td>
                                        <td>{{x.AD}}</td>
                                    </tr>
                                    <tr>
                                        <td>Acs/Day</td>
                                        <td>{{x.AC}}</td>
                                    </tr>

                                    <tr>
                                        <td>AS/D Acquired</td>
                                        <td>{{x.AF}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>


                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <script>
         var raw = "http://wap.shabox.mobi/dashboard/";
       // var raw = "../";
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http, $timeout) {

            $scope.All = false;
            $scope.ss = false;
            $scope.sub = function () {
                $scope.All = false;
                $scope.ss = true;
                var datarobi = {

                    ServiceName: $scope.ServiceName,
                    Operator : 'robi'

                }

                console.log(datarobi);

                $http.post(raw + 'api/ServiceRanking/RawInfo', datarobi).then(function (response) {
                    $scope.robiRaw = response.data;
                    $scope.robiAc = response.data;
                    PlotRobiResult(response.data);
                });

                var dataairtel = {

                    ServiceName: $scope.ServiceName,
                    Operator : 'airtel'

                }

                console.log(dataairtel);

                $http.post(raw + 'api/ServiceRanking/RawInfo', dataairtel).then(function (response) {
                    $scope.airtelRaw = response.data;
                    $scope.airtelAc = response.data;
                    PlotAirtelResult(response.data);
                });


                var datablink = {

                    ServiceName: $scope.ServiceName,
                    Operator : 'banglalink'

                }

               

                $http.post(raw + 'api/ServiceRanking/RawInfo', datablink).then(function (response) {
                    $scope.blinkRaw = response.data;
                    $scope.blinkAc = response.data;
                    PlotBlinkResult(response.data);
                });


                var datateletalk = {

                    ServiceName: $scope.ServiceName,
                    Operator : 'teletalk'

                }

               

                $http.post(raw + 'api/ServiceRanking/RawInfo', datateletalk).then(function (response) {
                    $scope.ttRaw = response.data;
                    $scope.ttAc = response.data;
                    PlotTTResult(response.data);
                });

                $timeout(function () {
                  
                    $scope.All = true; 
                    $scope.ss = false;
                }, 70);
            }




        });


        function PlotRobiResult(data) {
            var myBarChart = null;
            if ($('#robichart').empty()) {
                $('#robichart').append('<canvas id="robimyChart" width="100%"></canvas>');
            }

            var ctx = document.getElementById("robimyChart").getContext("2d");


            ctx.height = 10;
            // console.log(data.map(a => a.CommunicationSkills));
            var data = {
                labels: data.map(a => a.SL),
                datasets: [
                    {
                        label: "Churn",
                        backgroundColor: "Red",
                        borderColor: "Red",
                        fill: false,
                        data: data.map(a => a.Churn)
                    },
                    {
                        label: "Growth",
                        backgroundColor: "Green",
                        borderColor: "Green",
                        fill: false,
                        data: data.map(a => a.NewSubscriber)
                    }
                ]
            };


            var myPieChart = new Chart(ctx,
                {
                    type: 'line',
                    data: data,
                    options: {
                        Legeng: {
                            display: true
                        },
                        ticks: {
                            autoSkip: false
                        },
                        title: {
                            display: true,
                            text: 'Trend'
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: false,
                                    beginAtZero: true,
                                    scaleLabel: {
                                        labelString: 'Month'
                                    },
                                    ticks: {
                                        stepSize: 1,
                                        min: 0,
                                        autoSkip: false
                                    }
                                }
                            ]
                        }
                    }
                });



        }
        function PlotAirtelResult(data) {
            var myBarChart = null;
            if ($('#airtelchart').empty()) {
                $('#airtelchart').append('<canvas id="airtelmyChart" width="100%"></canvas>');
            }

            var ctx = document.getElementById("airtelmyChart").getContext("2d");


            ctx.height = 10;
            // console.log(data.map(a => a.CommunicationSkills));
            var data = {
                labels: data.map(a => a.SL),
                datasets: [
                    {
                        label: "Churn",
                        backgroundColor: "Red",
                        borderColor: "Red",
                        fill: false,
                        data: data.map(a => a.Churn)
                    },
                    {
                        label: "Growth",
                        backgroundColor: "Green",
                        borderColor: "Green",
                        fill: false,
                        data: data.map(a => a.NewSubscriber)
                    }
                ]
            };


            var myPieChart = new Chart(ctx,
                {
                    type: 'line',
                    data: data,
                    options: {
                        Legeng: {
                            display: true
                        },
                        ticks: {
                            autoSkip: false
                        },
                        title: {
                            display: true,
                            text: 'Trend'
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: false,
                                    beginAtZero: true,
                                    scaleLabel: {
                                        labelString: 'Month'
                                    },
                                    ticks: {
                                        stepSize: 1,
                                        min: 0,
                                        autoSkip: false
                                    }
                                }
                            ]
                        }
                    }
                });



        }
        function PlotBlinkResult(data) {
            var myBarChart = null;
            if ($('#blinkchart').empty()) {
                $('#blinkchart').append('<canvas id="blinkmyChart" width="100%"></canvas>');
            }

            var ctx = document.getElementById("blinkmyChart").getContext("2d");


            ctx.height = 10;
            // console.log(data.map(a => a.CommunicationSkills));
            var data = {
                labels: data.map(a => a.SL),
                datasets: [
                    {
                        label: "Churn",
                        backgroundColor: "Red",
                        borderColor: "Red",
                        fill: false,
                        data: data.map(a => a.Churn)
                    },
                    {
                        label: "Growth",
                        backgroundColor: "Green",
                        borderColor: "Green",
                        fill: false,
                        data: data.map(a => a.NewSubscriber)
                    }
                ]
            };


            var myPieChart = new Chart(ctx,
                {
                    type: 'line',
                    data: data,
                    options: {
                        Legeng: {
                            display: true
                        },
                        ticks: {
                            autoSkip: false
                        },
                        title: {
                            display: true,
                            text: 'Trend'
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: false,
                                    beginAtZero: true,
                                    scaleLabel: {
                                        labelString: 'Month'
                                    },
                                    ticks: {
                                        stepSize: 1,
                                        min: 0,
                                        autoSkip: false
                                    }
                                }
                            ]
                        }
                    }
                });



        }
        function PlotTTResult(data) {
            var myBarChart = null;
            if ($('#ttchart').empty()) {
                $('#ttchart').append('<canvas id="ttmyChart" width="100%"></canvas>');
            }

            var ctx = document.getElementById("ttmyChart").getContext("2d");


            ctx.height = 10;
            // console.log(data.map(a => a.CommunicationSkills));
            var data = {
                labels: data.map(a => a.SL),
                datasets: [
                    {
                        label: "Churn",
                        backgroundColor: "Red",
                        borderColor: "Red",
                        fill: false,
                        data: data.map(a => a.Churn)
                    },
                    {
                        label: "Growth",
                        backgroundColor: "Green",
                        borderColor: "Green",
                        fill: false,
                        data: data.map(a => a.NewSubscriber)
                    }
                ]
            };


            var myPieChart = new Chart(ctx,
                {
                    type: 'line',
                    data: data,
                    options: {
                        Legeng: {
                            display: true
                        },
                        ticks: {
                            autoSkip: false
                        },
                        title: {
                            display: true,
                            text: 'Trend'
                        },
                        scales: {
                            xAxes: [
                                {
                                    stacked: false,
                                    beginAtZero: true,
                                    scaleLabel: {
                                        labelString: 'Month'
                                    },
                                    ticks: {
                                        stepSize: 1,
                                        min: 0,
                                        autoSkip: false
                                    }
                                }
                            ]
                        }
                    }
                });



        }

    </script>
}
